#root {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@font-face {
  font-family: "PerficalLogoFont";
  src: url("/src/assets/fonts/Panton-BlackCaps.woff2") format("woff2");
}

@font-face {
  font-family: "PerficalTaglineFont";
  src: url("/src/assets/fonts/coolvetica.regular.woff2") format("woff2");
}

@font-face {
  font-family: "CommonFont";
  src: url("/src/assets/fonts/metropolis.regular.woff2") format("woff2");
}

@font-face {
  font-family: "MenuFont";
  src: url("/src/assets/fonts/aileron.regular.woff2") format("woff2");
}
