.calendar-container {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

.calendar-row {
  display: flex;
  gap: 1rem;
}

.calendar {
  background: rgba(255, 255, 255, 0.03);
  font-family: "CommonFont";
  border-radius: 12px;
  min-width: 350px;
  max-width: 350px;
  padding: 1rem;
  width: 100%;
}

.calendar-title {
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
  color: #d8f5dd;
  font-size: 2rem;
}

.calendar-grid {
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  display: grid;
  gap: 0.25rem;
}

.calendar-weekday {
  font-weight: bold;
  opacity: 0.7;
}

.calendar-day {
  background: rgba(255, 255, 255, 0.05);
  padding: 0.3rem 0 0.3rem 0.5rem;
  border-radius: 8px;
}

.calendar-empty {
  padding: 0.3rem 0 0.3rem 0.5rem;
  background: rgb(20, 41, 13);
  border-radius: 8px;
  opacity: 0.4;
}

.calendar-day.today {
  box-shadow: 0 0 10px rgba(66, 126, 70, 0.6);
  background: #427e46;
  font-weight: bold;
  color: white;
}
