:root {
  background-color: #12301e;
  line-height: 1.5;
  font-weight: 400;
}

body {
  place-items: center;
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  margin: 0;
}

html, body {
  overflow: hidden;
}
